.home-section6 {
  background-image: url('../image/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-section6-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section6-title {
  font-size: 38px;
}
.home-section6-desc {
  font-size: 16px;
  max-width: 440px;
  padding: 20px 0 76px;
  color: rgba(255, 255, 255, 0.4);
}
.home-section6-text-22 {
  padding-top: 10px;
  font-size: 20px;
}
.home-section6-text-16 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
}
.home-section6-text-14 {
  padding-top: 20px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}
.home-section6-stage-lg {
  padding-bottom: 0px;
}
.home-section6-infoshow-wrap {
  width: 100%;
  height: 200px;
}
.home-section6-info {
  width: 100%;
  background-color: rgba(8, 24, 37, 0.4);
  border-radius: 10px;
  padding: 30px 40px;
  text-align: left;
}
.home-section6-info p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
.home-section6-arrowup-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 20px;
}
.home-section6-arrowup {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  /* 左边框的宽 */
  border-right: 8px solid transparent;
  /* 右边框的宽 */
  border-bottom: 15px solid rgba(8, 24, 37, 0.5);
  /* 下边框的长度|高,以及背景色 */
  font-size: 0;
  line-height: 0;
}
.home-section6-stage-xs {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-section6-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.home-section6-world-xs {
  display: block;
}
.home-section6-world-lg {
  display: none;
}
.home-section6-lines {
  position: absolute;
  left: calc(92%);
  top: 50px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .home-section6-world-xs {
    display: none;
  }
  .home-section6-world-lg {
    display: block;
  }
}
