.random-section1 {
  background-color: #041620;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 480px;
  padding: 20px 0 0;
}
.random-section1 .content {
  padding-top: 60px;
  padding-bottom: 70px;
}
.random-section1 .title-text {
  font-size: 28px;
  margin-top: 5px;
}
.random-section1 .img-icon {
  width: 234px;
}
.random-section1 .text {
  font-size: 20px;
  padding: 5% 0 4%;
}
.random-section1 .info {
  width: 50vh;
  font-size: 12px;
  line-height: 24px;
  text-align: justify;
}
@media screen and (max-width: 576px) {
  .random-section1 .img-icon {
    width: 165px;
  }
  .random-section1 .info {
    width: 95%;
  }
  .random-section1 .title-text {
    font-size: 24px;
  }
}
