.consensus-tabpane1 {
  text-align: left;
}
.consensus-tabpane1-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 80px;
  padding-bottom: 30px;
}
.consensus-tabpane1-consensus {
  max-width: 100%;
}
.consensus-tabpane1-detail {
  padding-top: 30px;
}
@media screen and (min-width: 576px) {
  .consensus-tabpane1-info {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 140px;
  }
  .consensus-tabpane1-consensus {
    padding-top: 30px;
  }
  .consensus-tabpane1-detail {
    padding-top: 0;
  }
}
