.home-banner {
  background-color: #081825;
  /*
    background-image: url('../image/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    */
  min-height: 100vh;
  position: relative;
  z-index: 1025;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-banner-text1 {
  font-size: 20px;
  padding: 20px 0 60px;
}
.home-banner-bg {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}
